CREATE DATABASE FA24_SE1716_PRN231_G5_KOIAUCTION;
GO
USE [FA24_SE1716_PRN231_G5_KOIAUCTION]
GO
/****** Object:  Table [dbo].[Auctions]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auctions](
	[AuctionId] [int] IDENTITY(1,1) NOT NULL,
	[AuctionName] [nvarchar](100) NULL,
	[AuctionDate] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [nvarchar](36) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[AutionMethod] [int] NULL,
	[AuctionCode] [nvarchar](max) NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK__Auctions__51004A4C3EA27A8B] PRIMARY KEY CLUSTERED 
(
	[AuctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionType]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](36) NULL,
	[TypeName] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NULL,
	[IsActive] [bit] NULL,
	[EndAfter] [int] NULL,
	[AutoExtend] [bit] NULL,
 CONSTRAINT [PK__AuctionT__516F03959A91F67A] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckingProposal]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckingProposal](
	[CheckingProposalId] [int] NOT NULL,
	[CheckingProposalCode] [nvarchar](max) NULL,
	[ImageURL] [text] NULL,
	[SubmissionDate] [datetime] NULL,
	[CheckingDate] [datetime] NULL,
	[ExpiredDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[TermAndCodition] [nvarchar](max) NULL,
	[Attachment] [text] NULL,
	[Status] [nvarchar](max) NULL,
	[FishId] [int] NULL,
	[AuctionFee] [float] NULL,
 CONSTRAINT [PK_CheckingProposal] PRIMARY KEY CLUSTERED 
(
	[CheckingProposalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailProposal]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailProposal](
	[FishId] [int] IDENTITY(1,1) NOT NULL,
	[FishCode] [nvarchar](100) NULL,
	[FishName] [nvarchar](100) NULL,
	[Gender] [nvarchar](20) NULL,
	[Age] [int] NULL,
	[Length] [float] NULL,
	[Weight] [float] NULL,
	[Rating] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[ImageURL] [varchar](500) NULL,
	[VideoURL] [varchar](500) NULL,
	[TimeSpan] [int] NULL,
	[Color] [nvarchar](256) NULL,
	[InitialPrice] [float] NULL,
	[FinalPrice] [float] NULL,
	[MinIncrement] [int] NULL,
	[Index] [int] NULL,
	[FishTypeId] [int] NOT NULL,
	[FarmID] [int] NOT NULL,
	[AuctionId] [int] NULL,
	[AuctionFee] [float] NULL,
 CONSTRAINT [PK__DetailPr__F82A5BD9D8BA6C3A] PRIMARY KEY CLUSTERED 
(
	[FishId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FishType]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FishType](
	[FishTypeId] [int] IDENTITY(1,1) NOT NULL,
	[FishTypeName] [nvarchar](max) NULL,
	[ScientificName] [nvarchar](max) NULL,
	[Origin] [nvarchar](max) NULL,
	[Diet] [nvarchar](max) NULL,
	[AvarageLifeTime] [nvarchar](max) NULL,
	[ReproductionMethod] [nvarchar](max) NULL,
	[GeoraphicalDistribution] [nvarchar](max) NULL,
	[SpawningSeason] [nvarchar](max) NULL,
	[AverageSize] [float] NULL,
 CONSTRAINT [PK__FishType__3D3EB8CE3ECFE981] PRIMARY KEY CLUSTERED 
(
	[FishTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](max) NULL,
	[VAT] [float] NULL,
	[TotalPrice] [float] NULL,
	[TotalProduct] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [int] NULL,
	[TaxCode] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[DeliveryDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[ShippingCost] [float] NULL,
	[ShippingMethod] [nvarchar](max) NULL,
	[Discount] [float] NULL,
	[ShippingTrackingCode] [nvarchar](max) NULL,
	[ParticipationFee] [float] NULL,
 CONSTRAINT [PK__Order__C3905BAF8B210941] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Price] [float] NOT NULL,
	[OrderID] [int] NOT NULL,
	[BidID] [int] NOT NULL,
 CONSTRAINT [PK__OrderDet__CA10FD3ED0A9FC98] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[BidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentAmount] [float] NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](1) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[TransactionID] [nvarchar](100) NOT NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK__Payment__A78100355D450102] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposal]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposal](
	[FarmID] [int] IDENTITY(1,1) NOT NULL,
	[FarmCode] [nvarchar](500) NULL,
	[FarmName] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[AvatarURL] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Owner] [nvarchar](max) NULL,
	[UpdateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__Proposal__ED7BBA99EBBA8863] PRIMARY KEY CLUSTERED 
(
	[FarmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[RefreshTokenID] [int] NOT NULL,
	[RefreshTokenCode] [nvarchar](36) NOT NULL,
	[RefreshTokenValue] [nvarchar](255) NOT NULL,
	[UserID] [int] NOT NULL,
	[JwtID] [nvarchar](150) NOT NULL,
	[IsUsed] [bit] NULL,
	[IsRevoked] [bit] NULL,
	[ExpiredAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
	[Description] [varchar](256) NULL,
 CONSTRAINT [PK__Role__8AFACE3A1A69CA5D] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](500) NULL,
	[UserCode] [nvarchar](256) NULL,
	[FullName] [nvarchar](256) NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[AvavarUrl] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK__User__1788CCACACA7D925] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAuction]    Script Date: 9/21/2024 1:26:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAuction](
	[BidID] [int] IDENTITY(1,1) NOT NULL,
	[BidCode] [nvarchar](256) NULL,
	[Price] [float] NULL,
	[CreateDate] [datetime] NULL,
	[IsWinner] [bit] NULL,
	[UserID] [int] NOT NULL,
	[FishId] [int] NOT NULL,
 CONSTRAINT [PK__UserAuct__980A691197F1DA72] PRIMARY KEY CLUSTERED 
(
	[BidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auctions]  WITH CHECK ADD  CONSTRAINT [FK__Auctions__TypeID__44FF419A] FOREIGN KEY([TypeID])
REFERENCES [dbo].[AuctionType] ([TypeID])
GO
ALTER TABLE [dbo].[Auctions] CHECK CONSTRAINT [FK__Auctions__TypeID__44FF419A]
GO
ALTER TABLE [dbo].[CheckingProposal]  WITH CHECK ADD  CONSTRAINT [FK_CheckingProposal_DetailProposal] FOREIGN KEY([FishId])
REFERENCES [dbo].[DetailProposal] ([FishId])
GO
ALTER TABLE [dbo].[CheckingProposal] CHECK CONSTRAINT [FK_CheckingProposal_DetailProposal]
GO
ALTER TABLE [dbo].[DetailProposal]  WITH CHECK ADD  CONSTRAINT [FK__DetailPro__Aucti__49C3F6B7] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auctions] ([AuctionId])
GO
ALTER TABLE [dbo].[DetailProposal] CHECK CONSTRAINT [FK__DetailPro__Aucti__49C3F6B7]
GO
ALTER TABLE [dbo].[DetailProposal]  WITH CHECK ADD  CONSTRAINT [FK__DetailPro__FarmI__48CFD27E] FOREIGN KEY([FarmID])
REFERENCES [dbo].[Proposal] ([FarmID])
GO
ALTER TABLE [dbo].[DetailProposal] CHECK CONSTRAINT [FK__DetailPro__FarmI__48CFD27E]
GO
ALTER TABLE [dbo].[DetailProposal]  WITH CHECK ADD  CONSTRAINT [FK__DetailPro__FishT__47DBAE45] FOREIGN KEY([FishTypeId])
REFERENCES [dbo].[FishType] ([FishTypeId])
GO
ALTER TABLE [dbo].[DetailProposal] CHECK CONSTRAINT [FK__DetailPro__FishT__47DBAE45]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__UserID__3F466844] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__UserID__3F466844]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__534D60F1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__534D60F1]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDetail__5441852A] FOREIGN KEY([BidID])
REFERENCES [dbo].[UserAuction] ([BidID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDetail__5441852A]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__OrderID__4CA06362] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__OrderID__4CA06362]
GO
ALTER TABLE [dbo].[Proposal]  WITH CHECK ADD  CONSTRAINT [FK__Proposal__UserID__4222D4EF] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Proposal] CHECK CONSTRAINT [FK__Proposal__UserID__4222D4EF]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__RoleID__3C69FB99] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__RoleID__3C69FB99]
GO
ALTER TABLE [dbo].[UserAuction]  WITH CHECK ADD  CONSTRAINT [FK__UserAucti__FishI__5070F446] FOREIGN KEY([FishId])
REFERENCES [dbo].[DetailProposal] ([FishId])
GO
ALTER TABLE [dbo].[UserAuction] CHECK CONSTRAINT [FK__UserAucti__FishI__5070F446]
GO
ALTER TABLE [dbo].[UserAuction]  WITH CHECK ADD  CONSTRAINT [FK__UserAucti__UserI__4F7CD00D] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserAuction] CHECK CONSTRAINT [FK__UserAucti__UserI__4F7CD00D]
GO

------------------------------------------------------------------------------------------------------
-- Thêm dữ liệu giả cho bảng Role
INSERT INTO [dbo].[Role] (RoleName, CreateDate, Status, Description)
VALUES 
(N'Admin', GETDATE(), N'Active', 'Administrator role'),
(N'Manager', GETDATE(), N'Active', 'Manager role'),
(N'Customer', GETDATE(), N'Active', 'Customer role');

-- Thêm dữ liệu giả cho bảng User
 --9

-- auctionType

-- auction
INSERT INTO [dbo].[Auctions] (AuctionName, AuctionDate, StartTime, EndTime, Status, Description, CreateDate, AutionMethod, AuctionCode, TypeID)
VALUES 
(N'Phiên đấu giá cá vàng', '2024-09-25', '2024-09-25 09:00:00', '2024-09-25 10:00:00', N'Completed', N'Đấu giá cho cá vàng đẹp nhất.', GETDATE(), 1, N'AUCTION001', 1), -- Phiên đấu giá loại 1
(N'Phiên đấu giá cá rồng', '2024-09-26', '2024-09-26 14:00:00', '2024-09-26 15:00:00', N'Active', N'Đấu giá cho cá rồng quý hiếm.', GETDATE(), 1, N'AUCTION002', 1); -- Phiên đấu giá loại 1

-- Thêm dữ liệu giả cho bảng FishType
INSERT INTO [dbo].[FishType] (FishTypeName, ScientificName, Origin, Diet, AvarageLifeTime, ReproductionMethod, GeoraphicalDistribution, SpawningSeason, AverageSize)
VALUES 
(N'Cá Vàng', N'Carassius auratus', N'Trung Quốc', N'Tạp', N'10-15 năm', N'Đẻ trứng', N'Châu Á', N'Mùa xuân', 25.0),
(N'Cá Rồng', N'Scleropages formosus', N'Châu Á', N'Thịt', N'20-25 năm', N'Nuôi con trong miệng', N'Châu Á', N'Mùa hè', 90.0),
(N'Cá Betta', N'Betta splendens', N'Đông Nam Á', N'Côn trùng', N'2-3 năm', N'Đẻ trứng', N'Châu Á', N'Mùa mưa', 7.0);

--Thêm dữ liệu giả cho bảng Proposal
INSERT INTO [dbo].[Proposal] 
    (FarmCode, FarmName, Location, AvatarURL, CreateDate, Status, Description, Owner, UpdateDate, IsDeleted, UserID)
VALUES 
    (N'FC001', N'Trang Trại Cá Vàng', N'Hà Nội', N'https://example.com/avatar1.jpg', GETDATE(), N'Hoạt động', N'Trang trại chuyên nuôi cá vàng.', N'Nguyễn Văn A', GETDATE(), 0, 8),--1
    (N'FC002', N'Trang Trại Cá Rồng', N'Hồ Chí Minh', N'https://example.com/avatar2.jpg', GETDATE(), N'Hoạt động', N'Trang trại nuôi cá rồng quý hiếm.', N'Nguyễn Văn B', GETDATE(), 0, 9);--2
  

-- Thêm dữ liệu giả cho bảng DetailProposal

--- Chèn dữ liệu vào bảng UserAuction
  -- Người dùng 7 đặt giá cho Cá Rồng 

---Chèn dữ liệu bảng CheckingProposal vào
INSERT INTO CheckingProposal (CheckingProposalCode, ImageURL, SubmissionDate, CheckingDate, ExpiredDate, Note, TermAndCodition, Attachment, Status, FishId, AuctionFee)
VALUES
('CP001', 'https://example.com/goldfish.jpg', '2024-01-05', '2024-01-10', '2024-01-20', 'Ki?m tra ch?t l??ng cá vàng', '?i?u kho?n 1', 'file1.pdf', 'Pending', 1, 50000),
('CP002', 'https://example.com/arowana.jpg', '2024-02-15', '2024-02-20', '2024-03-01', 'Cá r?ng c?n ki?m tra s?c kh?e', '?i?u kho?n 2', 'file2.pdf', 'Approved', 2, 50000);