@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Proposal List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">FarmId</th>
                    <th class="card-title text-center">FarmCode</th>
                    <th class="card-title text-center">FarmName</th>
                    <th class="card-title text-center">Location</th>
                    <th class="card-title text-center">AvatarUrl</th>
                    <th class="card-title text-center">CreateDate</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">Description</th>
                    <th class="card-title text-center">Owner</th>
                    <th class="card-title text-center">UpdateDate</th>
                    <th class="card-title text-center">IsDeleted</th>
                    <th class="card-title text-center">UserFullName</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblProposal">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="proposalModal" tabindex="-1" aria-labelledby="proposalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="proposalModalLabel">Proposal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlFarmName" class="form-label">FarmName</label>
                        <input type="text" class="form-control" id="exampleFormControlFarmName" placeholder="FarmName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlLocation" class="form-label">Location</label>
                        <input type="text" class="form-control" id="exampleFormControlLocation" placeholder="Location">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlAvatar" class="form-label">Avatar</label>
                        <input type="text" class="form-control" id="exampleFormControlAvatar" placeholder="Avatar URL">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlCreateDate" class="form-label">CreateDate</label>
                        <input type="date" class="form-control" id="exampleFormControlCreateDate" placeholder="CreateDate">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlStatus" class="form-label">Status</label>
                        <input type="text" class="form-control" id="exampleFormControlStatus" placeholder="Status">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="exampleFormControlDescription" placeholder="Description">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlOwner" class="form-label">Owner</label>
                        <input type="text" class="form-control" id="exampleFormControlOwner" placeholder="Owner">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlDescription" class="form-label">UserFullName</label>
                        <select class="form-select" id="autoSizingSelect">
                            <option selected>Choose...</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" onclick="createProposal()" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();

        });
        function loadData() {
            alert("Load data progressing ...");

            $.ajax({
                url: 'https://localhost:7094/auction-koi/proposals?&page-index=0&page-size=100',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert('Server response: ' + result.message);
                    console.log(result);
                    var html = '';
                    $.each(result.data.list, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.farmId + '</td>';
                        html += '<td>' + item.farmCode + '</td>';
                        html += '<td>' + item.farmName + '</td>';
                        html += '<td>' + item.location + '</td>';
                        html += '<td>' + `<img src="${item.avatarUrl}" alt="hinhanh" style="width: 100px; height: 100px" />` + '</td>';
                        html += '<td>' + item.createDate + '</td>';
                        html += '<td>' + item.status + '</td>';
                        html += '<td>' + item.description + '</td>';
                        html += '<td>' + item.owner + '</td>';
                        html += '<td>' + item.updateDate + '</td>';
                        html += '<td>' + item.isDeleted + '</td>';
                        html += '<td>' + item.userFullName + '</td>';
                        html += '<td></td>';
                        html += '</tr>';
                    });
                    $('.tblProposal').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });

            $.ajax({
                url: 'https://localhost:7094/auction-koi/proposals/user',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    // Xóa option "Choose..." hiện tại
                    $("#autoSizingSelect").empty();

                    // Duyệt qua response và thêm các option vào select
                    $.each(result.data, function (index, item) {
                        // Thêm option vào select, với item.value là giá trị bạn muốn
                        $("#autoSizingSelect").append(
                            $('<option>', {
                                value: item.userId,  // Gắn giá trị vào thuộc tính value
                                text: item.fullName  // Gắn tên hoặc nội dung vào option
                            })
                        );
                    });
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }


        $("#btSave").click(function () {

            $.ajax({
                type: 'POST',
                url: 'https://localhost:7094/auction-koi/proposals/create-proposal',
                headers: {
                    'Accept': 'application/json', 
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: JSON.stringify({
                    farmName: $("#exampleFormControlFarmName").val(),
                    location: $("#exampleFormControlLocation").val(),
                    avatarUrl: $("#exampleFormControlAvatar").val(), // Không gửi file mà gửi URL
                    createDate: $("#exampleFormControlCreateDate").val(),
                    status: $("#exampleFormControlStatus").val(),
                    description: $("#exampleFormControlDescription").val(),
                    owner: $("#exampleFormControlOwner").val(),
                    userId: $("#autoSizingSelect").val()
                }),
                success: function (result) {
                    if (result.status >= 1) {
                        $('#proposalModal').modal('hide');
                        loadData();
                    }
                    alert(result.message);
                },
                error: function (xhr, error) {
                    alert(xhr.responseText);
                    console.log(xhr)
                }
            })
        });

        function add() {
            $("#proposalModalContent").html("");
            $("#proposalModalLabel").html("Add New");

            $('#proposalModal').modal('show');
        }

       

    </script>
}