@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="content">
    <span class="message">No Scheduled Auctions</span>
    <div class="button-group">
        <a href="/Clients/PastAuctions" class="btn-view-past-auctions">View Past Auctions</a>
        <a href="/Clients/Register" class="btn-register-notified">Register To Get Notified</a>
    </div>
</div>

