@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img src="https://auctionkoi.com/images/breeders-transparent.png"
         alt="Auction Koi Image"
         class="center-image" />
    <div class="overlay-text">
        <img src="https://firebasestorage.googleapis.com/v0/b/prn231-koiauction.appspot.com/o/resources%2Fsvgexport-1.svg?alt=media&token=17b0a232-791f-41cc-9810-b29162e79cc5"
             alt="Brand Logo"
             class="logo-overlay" />
        <span>AUCTIONKOI.COM</span>
    </div>
</div>
<h1 class="title-text">
    Your direct connection to the top
    <span class="highlight">Japanese</span> koi breeders
</h1>

<div class="cta-container">
    <div class="cta-buttons">
        <a class="btn-register" href="/Clients/Register">Register</a>
        <a class="btn-auctions" href="/Clients/Auctions">View Auctions</a>
    </div>
</div>
