:root {
    --color-primary-500: 212 22 60;
    --color-background: 213, 213, 217;
    --color-secondary-400: 126 170 199;
    --color-secondary-500: 70 133 175;
    --color-secondary-700: 53 100 131;
    --on-secondary: 255 255 255;
    --theme-rounded-base: 24px;
    --theme-border-base: 1px;
    --color-surface-50: 223 224 226;
    --color-surface-100: 213 213 217;
    --color-surface-200: 202 203 207;
    --color-surface-300: 170 171 179;
    --color-surface-400: 107 109 121;
    --color-surface-500: 43 46 64;
    --color-surface-700: 32 35 48;
    --color-surface-800: 26 28 38;
    --color-selection: #d59ca9;
    --theme-rounded-base: 24px;
    --theme-rounded-sub: 1rem;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-auth-success {
    background: none;
    border-color: transparent;
    margin-right: 4rem;
}

.dropdown-menu {
    background-color: rgb(var(--color-secondary-500) / 1);
    color: rgb(var(--on-secondary));
    margin-right: 4rem;
    border-radius: var(--theme-rounded-base);
}

    .dropdown-menu a {
        width: 90%;
        margin-left: 0.5rem;
        color: #fff;
    }

        .dropdown-menu a svg {
            margin-left: 8px;
            margin-right: 4px;
        }

        .dropdown-menu a:hover {
            background-color: rgb(var(--color-secondary-500) / 1);
            color: rgb(var(--on-secondary));
            border-radius: var(--theme-rounded-base);
            filter: brightness(1.15);
        }
